
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img1/slider1.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif
}

ul {
    margin-bottom: 50px;
}

ul a {
    font-size: 25px;
    color: white;
}

ul a:hover {
    text-decoration: none;
    color: gray;
}

.label {
    font-size: 20px;
    color: white;
    font-weight: normal;
}

.form-control {
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #f44c89;
    margin-bottom: 30px;
    font-size: 17px;
    color: white;
    padding: 10px;
}

.remember {
    height: 15px;
    width: 15px;
}

small {
    font-size: 19px;
    color: white;
}

.btn-info {
    background: #f44c89;
    border: solid #f44c89;
    border-radius: 0px;
    width: 360px;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background: transparent;
}

.btn-info:hover {
    background: #f44c89;
    border: 2px solid #f44c89;
}

.forgot {
    padding-top: 15px;
    color: black; 
}

.img {
    width: 450px;
    height: auto;
}